h1 { text-align: center;
    color : rgb(240, 19, 233) 

   }
h2{
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    color: rgb(0, 255, 225);
    text-indent: 30px;
    
}   
h3 {
    font-size: 1rem;
    text-indent: 20px;
}
ul {
    line-height : 40 px;
   } 
body {
    background-image: linear-gradient(to right, #e22865 , #37adcd);

   }   
p {
    font-style: italic;
    font-family: sans-serif;
    text-indent: 10px; 
    text-align: justify;
}   